<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
      <!-- Configure property placeholder to read values from app.properties -->
    <context:property-placeholder location="classpath:properties/application.properties" />
    
    
    <!-- component scanning have been enabled for the package -->
     <context:component-scan base-package="com.spring_hibernate_demo_one" />
    
    
    
    <!--  Define your beans here-->
    
    
    <!--  
    <bean
    
    id="myCoach"
    class="com.spring_hibernate_demo_one.BaseballCoach"
    init-method="init"
    destroy-method="end"
    >
    <property name="nameOfTheCoach" value="${baseball.coach.name}"></property>
    </bean>
    -->
</beans>